@charset "UTF-8";
/* CSS Document */

body, html {
    width, height: 100%;
}

#wrapper {
    background-color: #704214;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    width: 200vh;
    height: 100vh;
    min-width: 1200px;
    min-height: 700px;
}

header {
    height: 50px;
}

nav {
    text-align: center;
    color: #BBB
}

#leftpane {
    float: left;
    width: calc(67% - 1vw);
    height: calc(100% - 50px);
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
}

#gargoyle {
    background-color: #FFF;
    width: 100%;
    height: calc(67% - 1vh);
    min-height: 545px;
    margin-bottom: 1vh;
}

#gargoyle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chat {
    background-color: #999;
    float: right;
    font-family: Verdana, sans-serif;
    width: 33%;
    height: calc(100% - 50px);
}

#name-area {
    background-color: #000;
    color: #FFF;
    font-weight: 1000;
    float: right;
}

#chatlog {
    background-color: #BBB;
    border: 3px inset black;
    height: calc(90% - 12px);
    padding: 5px 1px 5px 1px;
    overflow: auto;
}

#chat-send-area{
    height: 10%;
}

#sendbox {
    display: block;
    width: calc(100% - 0.5vw);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#command {
    background-color: #999;
    flex: 1;
}

span.usernames {
    background-color: #663;
    color: #fa9f00;
    font: Helvetica, Sans-Serif; 
    padding: 4px 8px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 8px; 
    margin: 30px 5px 0 0;
}